# Google Maps Platform API Key
# Used for the interactive location map and route calculations in LocationExplorer & DirectionsMap.
# Required APIs to enable on Google Cloud Console:
# 1. Maps JavaScript API
# 2. Routes API
NEXT_PUBLIC_GOOGLE_MAPS_KEY=AIzaSyCrscF3FWWnPL3p1ylAKYqii5jOJw_uWGc
